<li><%= link_to "BUSCAR ESTACIONAMIENTOS", pages_buscar_estacionamiento_path  %> </li>
<li><%= link_to "QUIENES SOMOS", pages_buscar_estacionamiento_path  %> </li>
<li><%= link_to "GALERIA", pages_buscar_estacionamiento_path  %> </li>
<li><%= link_to "CONTACTANOS", pages_buscar_estacionamiento_path  %> </li>
<li><%= link_to "INGRESAR", pages_buscar_estacionamiento_path  %> </li>
<li><%= link_to "REGISTRATE", pages_buscar_estacionamiento_path  %> </li>
<li><%= link_to "Listar Alquileres", pages_listar_alquileres_path  %> </li>